In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# data load
train = pd.read_csv("train.csv")
print(train.shape)
train.head()

test = pd.read_csv("test.csv")
print(test.shape)
test.head()

(42000, 785)
(28000, 784)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train.head()
y_train = train["label"].values

In [5]:
y_train.shape

(42000,)

In [6]:
train.shape

(42000, 785)

In [7]:
x_train = train.drop("label",axis=1)

In [8]:
x_train.shape

(42000, 784)

In [9]:
from keras.utils import to_categorical
y_hot  = to_categorical(y)
print(y.shape,y_hot.shape)

NameError: name 'y' is not defined